<ion-header>
  <ion-item class="black">
    <ion-button slot="start" fill="clear" (click)="closeModal()">
      <ion-icon style="color: aliceblue; font-size: 25px;" name="arrow-back"></ion-icon>
    </ion-button>
  <ion-label><countup-timer [countUpTimerConfig]="testConfig"></countup-timer></ion-label> <ion-icon slot="end" style="color: aliceblue; font-size: 25px;" name="time-outline"></ion-icon>
  </ion-item>
</ion-header>
<ion-content [class]="heroe.color" padding>

  <div id="container">
    <img id="heroe" [src]="heroe.imagen" [class]="heroe.nombre" />
  </div>

</ion-content>

<ion-footer class="ion-padding" style="background-color: black;">
  <ion-toolbar [class]="heroe.color">
    <ion-title>{{heroe.nombre}}</ion-title>
  </ion-toolbar>
</ion-footer>